<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/chatbox.css" />

<div id="home-container">
  <section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="post">
      <textarea
        placeholder="type here"
        name="content"
        id=""
        cols="30"
        rows="3"
        required
      ></textarea>
      <input type="submit" value="post" />
    </form>
    <%}%>

    <div id="post-list-container">
      <ul>
        <%for(post of posts){%> <%- include("_post");%> <%}%>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>friends</h4>
    <% for(user of all_users){ %>
    <p>
      <a href="/users/profile/<%= user.id%>"> <%=user.name%> </a>
    </p>
    <%}%>
  </section>
  <%- include("chatbox")%>
</div>
<!-- importing this script for creating the comment -->
<script src="/js/home_posts.js"></script>
<script src="/js/home_post_comments.js"></script>

<!-- change :: import script file for toggle like , also run it over for already present posts and comment on the page -->
<script src="js/toggle_likes.js"></script>
<script>
  $("toggle-like-button").each(() => {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>
<script src="https://cdn.socket.io/4.7.2/socket.io.js"></script>
<script src="/js/chat.engine.js"></script>
<%if(locals.user){%>
<script>
  new ChatEngine("user-chat-box", "<%=locals.user._id%>");
</script>

<%}%>
